//- index.pug
head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://www.prakerja.go.id/favicon.ico" rel="shortcut icon")
    title #{contentDescription.title}
    meta(name="description" content=contentDescription.description)
    link(rel='canonical' href='https://skillsweek.prakerja.go.id')
    link(rel='alternate' hreflang='id' href='https://skillsweek.prakerja.go.id')
    meta(property="og:image" content="https://github.com/Kartu-Prakerja/skill-week/blob/main/img/cover-id-skillweek-by-prakerja.jpg?raw=true")
    meta(property="og:image:width" content="400")
    meta(property="og:image:height" content="627")
    meta(property="og:locale" content="id_ID")
    meta(meta property="og:type" content="website")
    meta(property="og:description" content=contentDescription.description)
    meta(property="og:site_name" content="Prakerja")
    meta(property="og:url" content="https://raw.githubusercontent.com/Kartu-Prakerja/skill-week/main/v3/img/cover-id-skillweek-by-prakerja2.jpg")
    meta(name="twitter:card" content="https://raw.githubusercontent.com/Kartu-Prakerja/skill-week/main/v3/img/cover-id-skillweek-by-prakerja2.jpg")
    meta(name="twitter:site" content="")
    meta(name="twitter:title" content=contentDescription.title)
    meta(name="twitter:description" content=contentDescription.description)
    meta(name="twitter:image" content="https://raw.githubusercontent.com/Kartu-Prakerja/skill-week/main/v3/img/cover-id-skillweek-by-prakerja2.jpg")
    meta(name="twitter:image:width" content="1200")
    meta(name="twitter:image:height" content="630")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
    //-- start load fonts -->
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic")

    //-- end load fonts -->

    //-- load css start -->
    link(rel='stylesheet' href=baseURL+'css/bootstrap.css')
    link(rel='stylesheet' href=baseURL+'css/pds-skillweek.css')
    link(rel='stylesheet' href=baseURL+'css/owl.carousel.css')
    //-- load css end -->

    //-- Google Tag Manager -->
    // Google Tag Manager
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TTFX6N6');
    //- - End Google Tag Manager -->
    script(type='text/javascript').
        (function (f, b) { if (!b.__SV) { var e, g, i, h; window.mixpanel = b; b._i = []; b.init = function (e, f, c) { function g(a, d) { var b = d.split("."); 2 == b.length && ((a = a[b[0]]), (d = b[1])); a[d] = function () { a.push([d].concat(Array.prototype.slice.call(arguments, 0))); }; } var a = b; "undefined" !== typeof c ? (a = b[c] = []) : (c = "mixpanel"); a.people = a.people || []; a.toString = function (a) { var d = "mixpanel"; "mixpanel" !== c && (d += "." + c); a || (d += " (stub)"); return d; }; a.people.toString = function () { return a.toString(1) + ".people (stub)"; }; i = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split( " "); for (h = 0; h < i.length; h++) g(a, i[h]); var j = "set set_once union unset remove delete".split(" "); a.get_group = function () { function b(c) { d[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); a.push([e, call2]); }; } for ( var d = {}, e = ["get_group"].concat( Array.prototype.slice.call(arguments, 0)), c = 0; c < j.length; c++) b(j[c]); return d; }; b._i.push([e, f, c]); }; b.__SV = 1.2; e = f.createElement("script"); e.type = "text/javascript"; e.async = !0; e.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === f.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; g = f.getElementsByTagName("script")[0]; g.parentNode.insertBefore(e, g); } })(document, window.mixpanel || []);
        var users = JSON.parse(localStorage.getItem('users'));
        mixpanel.init('ef0d1649ccb886338ac7d13f7854fd15', {debug: false, track_pageview: true, persistence: 'localStorage'});
        if (users) {
            mixpanel.people.set({'distinct_id': users.email, '$email': users.email, '$name': (users.email).split('@',1)[0]});
            mixpanel.identify(users.email)
        }