// Modal start
#deskripsiPelatihanModal.modal.modal-lg.fade(tabindex='-1' aria-labelledby='deskripsiPelatihanModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      .modal-header.align-items-start.align-items-lg-center
        h1#deskripsiPelatihanModalLabel.modal-title.fs-5 Strategi Pemasaran Agro Wisata Bagi Pengembang Bisnis (Daring)
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        article.course-url
          b Link Pelatihan : 
          p
            a.link-pelatihan(href="" title="" target="_blank") Link Pelatihan
        article.course-descriptions.paragraph-md
          b Deskripsi : 
          p
            | Judul Program: &quot;Membuat Desain Grafis Dengan Adobe Photoshop Untuk Menjadi Perancang Grafis&quot;
      .modal-footer
        button.btn.btn-outline-primary(type='button' data-bs-dismiss='modal') Tutup
        a.btn.btn-primary.apply-course.disabled(href='https://docs.google.com/forms/d/e/1FAIpQLScc3v4je6bcRHA_0H5ItpjaY_x8ump5K9pdc27ylti4pQo0xQ/viewform' target='_blank' data-event='skill_week_apply_course' title='Pendaftaran sedang ditutup') Dapatkan Voucher Pelatihan
        // <button type="button" class="btn btn-primary">Dapatkan Voucher Pelatihan</button>
// Modal end



<!-- Modal User Login -->
#loginModal.modal.fade(tabindex='-1' aria-labelledby='loginModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal.login-modal
    .modal-content
      .modal-header.modal-header-custom
        img.ratio-1-1.me-2(src=baseURL+"img/img-ornament-1.svg" alt="ISW Login")
        h4.modal-title Masuk Akun
        button.login-dismiss.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.p-4
        p.paragraph-sm.mb-4.fs-7 Untuk mendapatkan Voucher Pelatihan, masuk ke Indonesia Skill Weeks dengan menggunakan email yang sudah terdaftar sebagai peserta di Prakerja.
        form#login-form.row.g-3.needs-validation(novalidate)
          .col-12
            label.form-label(for='userEmail')
              b Alamat Email yang terdaftar di Prakerja
            input#userEmail.form-control(type='email'  placeholder="nama@email.com" required)
            .invalid-feedback
              | Masukan email dan format yang sesuai
          .col-12
            label.form-label(for='userPassword')
              b Password akun Prakerja
            .input-group
              input#userPassword.form-control(type='password' placeholder="Masukkan Password" required)
              button.btn.btn-outline-light.show-password(type='button' aria-label='Show Password')
                i.bi.bi-eye
              .invalid-feedback
                | Masukan Password yang benar
          .alert.alert-danger.mt-3.d-flex.align-items-top.mb-3.visually-hidden
            i.fs-5.bi.bi-exclamation-triangle-fill.me-3
            div
              div.fs-7.text-error
                | Alamat email atau password salah. Mohon periksa kembali.
          .col-12
            button#submit-login.btn.btn-primary.w-100(type='submit') Masuk
          div 
            button.login-dismiss.btn.btn-borderless-primary.w-100(type='button' data-bs-dismiss='modal') Nanti Saja
            
        //- form#login-form.needs-validation(novalidate)
        //-   .mb-3
        //-     label.form-label(for='userEmail')
        //-       b Alamat Email yang terdaftar di Prakerja
        //-     input#userEmail.form-control(type='email' aria-describedby='userEmail' placeholder="nama@email.com" required)
        //-   .mb-3
        //-     label.form-label(for='user-password')
        //-       b Password akun Prakerja
        //-     .input-group.mb-3
        //-       input#user-password.form-control.show-password-target(type='password' placeholder="Masukkan Password" aria-label="Masukkan Password" aria-describedby='button-addon2' required)
        //-       button#button-addon2.btn.btn-outline-light.show-password(type='button')
        //-         i.bi.bi-eye
        //- //- .mb-3.form-check
        //- //-   input#exampleCheck1.form-check-input(type='checkbox')
        //- //-   label.form-check-label(for='exampleCheck1') Check me out
        //- div.mb-3 
        //-   button#submit-login.btn.btn-primary.w-100(type='submit') Masuk
        //- div 
        //-   button.login-dismiss.btn.btn-borderless-primary.w-100(type='button' data-bs-dismiss='modal') Nanti Saja
      .modal-footer.justify-content-start.border-top
       
        p.fs-7.px-2 Belum punya akun Prakerja? Yuk 
          a.register-account.link-primary(href="https://dashboard.prakerja.go.id/daftar?utm_source=ISW_login_popup&utm_campaign=banner_landing&utm_content=link" target="_blank" data-source="button popup")
            b Buat Akun Sekarang
            i.bi.bi-arrow-up-right-square.ms-1

<!-- Modal User Sukses Login -->
#loginSuccessModal.modal.fade.show(tabindex='-1' aria-labelledby='loginSuccessModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal
    .modal-content
      .modal-header.modal-header-custom.p-4
        .text-center.w-100
          img(src=baseURL+"img/img-login-success.svg", alt="ISW login success")
          h4.modal-title.mt-3 Berhasil Masuk
        //- button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.px-4
        p
          | Akun kamu 
          b.email-account (bambang@gmail.com)
          |  berhasil tervalidasi sebagai akun Prakerja, tetap masuk di website ini untuk memudahkan mendapatkan Voucher Pelatihan pada saat mengambil pelatihan yang kamu pilih.
          
      .modal-footer.ps-4.pb-4.pe-4
        .row.p-0.w-100
          .col-12.col-md-6.ps-0.pe-0.pe-lg-2
            button.btn.btn-outline-primary.w-100.mb-3.mb-lg-0(data-bs-toggle="modal" data-bs-dismiss='modal' onClick="window.location.reload();")
              | Tutup
          .col-12.col-md-6.ps-0.pe-0.ps-lg-2
            a.btn.btn-primary.w-100(href="/profil/index.html" title="Lihat Profile Sekarang")
              | Lihat Profil


<!-- Modal Error Login -->
#loginErrorModal.modal.fade(tabindex='-1' aria-labelledby='loginErrorModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal.login-modal
    .modal-content
      .modal-header.modal-header-custom
        img.ratio-1-1.me-2(src=baseURL+"img/img-ornament-1.svg" alt="ISW Login")
        h4.modal-title Masuk Akun
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.p-4
        p.paragraph-sm.mb-4 Untuk mendapatkan Voucher Pelatihan, masuk ke Indonesia Skill Weeks dengan menggunakan email yang sudah terdaftar sebagai peserta di Prakerja.

        form
          .mb-3
            label.form-label(for='exampleInputEmail1')
              b Alamat Email yang terdaftar di Prakerja
            input#exampleInputEmail1.form-control.is-invalid(type='email' aria-describedby='userEmail' placeholder="nama@email.com" value="barambang@gmail.me")
          .mb-3
            label.form-label(for='exampleInputPassword1')
              b Password akun Prakerja
            .input-group.mb-3
              input.form-control.show-password-target.is-invalid(type='password' placeholder="Masukkan Password" aria-label="Masukkan Password" aria-describedby='button-addon2' value="Prakerja123!")
              button#button-addon2.btn.btn-outline-light.show-password(type='button')
                i.bi.bi-eye
        .alert.alert-danger.mt-3.d-flex.align-items-top.mb-3
          i.fs-5.bi.bi-exclamation-triangle-fill.me-3
          div
            div.fs-7
              | Alamat email atau password salah. Mohon periksa kembali.

        div.mb-3 
          button.btn.btn-primary.w-100(type='submit') Masuk
        div 
          button.btn.btn-borderless-primary.w-100(type='button' data-bs-dismiss='modal') Nanti Saja
      .modal-footer.justify-content-start.border-top
       
        p.fs-7.px-2 Belum punya akun Prakerja? Yuk 
          a.link-primary(href="https://dashboard.prakerja.go.id/daftar" target="_blank")
            b Buat Akun Sekarang
            i.bi.bi-arrow-up-right-square.ms-1



<!-- Modal User Sudah Login -->
#loginAlreadyModal.modal.fade(tabindex='-1' aria-labelledby='loginAlreadyModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal
    .modal-content
      .modal-header.modal-header-custom.p-4
        .text-center.w-100
          img.ratio-1-1(src=baseURL+"img/img-login-already.svg", alt="ISW Logged In")
          h4.modal-title.mt-3 Kamu Masuk Sebagai
        //- button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.px-4
        form
          .mb-3
            label.form-label(for='validEmailUser')
              b Alamat Email yang terdaftar di Prakerja
            input#validEmailUser.form-control.is-valid(type='email' aria-describedby='userEmail' placeholder="nama@email.com" value="your-email@domain.com" readonly)
        p
          | Akun kamu 
          b.text-email (your-email@domain.com)
          |  berhasil tervalidasi sebagai akun Prakerja, tetap masuk di website ini untuk memudahkan mendapatkan Voucher Pelatihan pada saat mengambil pelatihan yang kamu pilih.
          
      .modal-footer.ps-4.pb-4.pe-4
        button.btn.btn-ghost-danger.w-100(data-bs-toggle="modal" data-bs-target="#confirmLogoutModal"  data-bs-dismiss='modal')
          | Keluar
        button.btn.btn-borderless-primary.w-100(data-bs-toggle="modal" data-bs-dismiss="modal")
          | Tutup

<!-- Modal Konfirmasi Logout  -->
#confirmLogoutModal.modal.fade(tabindex='-1' aria-labelledby='confirmLogoutModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal
    .modal-content
      .modal-header.modal-header-custom.p-4.align-items-start.position-relative
        .text-center.w-100
          img(src=baseURL+"img/img-login-already.svg", alt="ISW Logout Confirmation")
          h4.modal-title.mt-3 Kamu yakin akan keluar menggunakan akun ini?
        button.btn-close.position-absolute(type='button' data-bs-dismiss='modal' aria-label='Close' style="right:1.5rem;")
      //- .modal-body.px-4

      .modal-footer.ps-4.pb-4.pe-4
        .row.p-0.w-100
          .col-12.col-md-6.ps-0.pe-0.pe-lg-2
            button#btn-logout.btn.btn-ghost-danger.w-100.mb-3.mb-lg-0(data-bs-toggle="modal" data-bs-dismiss='modal')
              | Ya
          .col-12.col-md-6.ps-0.pe-0.ps-lg-2
            button.btn.btn-primary.w-100(data-bs-toggle="modal" data-bs-dismiss='modal')
              | Batal
        
          


<!-- Modal Get Course - Belum Login -->
#getCourseNotLoginModal.modal.fade(tabindex='-1' aria-labelledby='getCourseNotLoginModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal
    .modal-content
      .modal-header.modal-header-custom.p-4
        h4.modal-title  Ambil Voucher Pelatihan?
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.px-4
        //- p.paragraph-md.mb-4 Dengan mengkonfirmasi, kode Voucher akan dikirim ke email kamu, silakan cek secara berkala.
        .row.border.rounded.p-3.m-0
          .col-12.col-md-4.p-0
            img.w-100.object-fit-contain.rounded-1(src=baseURL+"img/course-7.jpeg", alt="Pelatihan ABC")
          .col-12.col-md-8.p-0.ps-md-3.pt-3.pt-md-0
            h6 Menyusun dan Membuat Business Proposal yang Menarik (dengan Microsoft Word dan Power Point)
          

        .alert.alert-warning.mt-3.d-flex.align-items-top.mb-0
          i.fs-5.bi.bi-info-circle-fill.me-3
          div
            div.fs-7
              | Untuk mendapatkan voucher pelatihan, kamu harus
              b &nbsp;masuk&nbsp;
              | terlebih dahulu ke Indonesia Skills Week.
          
      .modal-footer.p-0
          .d-flex.w-100.p-4
            button.btn.w-100.btn-borderless-primary.me-1(type='button' data-bs-dismiss='modal') Kembali
            button.btn.btn-primary.w-100.ms-1(data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss='modal')
              i.bi.bi-person-circle.me-2
              | Masuk
          .fs-7.w-100.p-3.border-top.text-center Belum punya akun Prakerja? Yuk 
            a.link-primary(href="https://dashboard.prakerja.go.id/daftar?utm_source=skillsweek_popup_banner&utm_campaign=skillsweek_campaign&utm_medium=button_hero_banner&utm_content=buat_akun_sekarang" target="_blank")
              b Buat Akun Sekarang
              i.bi.bi-arrow-up-right-square.ms-1


<!-- Modal Get Course - Sudah Login -->
#getCourseLoginModal.modal.fade(tabindex='-1' aria-labelledby='getCourseLoginModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal
    .modal-content
      .modal-header.modal-header-custom.p-4
        h4.modal-title  Ambil Voucher Pelatihan?
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.px-4
        //- p.paragraph-md.mb-4 Dengan mengkonfirmasi, kode Voucher akan dikirim ke email kamu, silakan cek secara berkala.
        .detail-course.row.border.rounded.p-3.m-0
          .col-12.col-md-4.p-0
            img.w-100.object-fit-contain.rounded-1(src=baseURL+"img/course-7.jpeg", alt="Pelatihan ABC")
          .col-12.col-md-8.p-0.ps-md-3.pt-3.pt-md-0
            h6 Menyusun dan Membuat Business Proposal yang Menarik (dengan Microsoft Word dan Power Point)
          
        form.mt-3
          .mb-3
            label.form-label(for='emailUserVoucher')
              b Alamat Email yang terdaftar di Prakerja
            input#emailUserVoucher.form-control.is-valid(type='email' aria-describedby='userEmail' placeholder="nama@email.com" value="" readonly)
        
        .alert.alert-info.mt-3.d-flex.align-items-top.mb-0
          i.fs-5.bi.bi-info-circle-fill.me-3
          div
            div.fs-7
              | Kode Voucher akan dikirim ke email kamu selama 
              b kuota 
              | pelatihan masih tersedia, silakan cek email secara berkala.
          
      .modal-footer.p-0
          .d-flex.w-100.p-4
            button.btn.btn-borderless-primary.w-100.me-1(type='button' data-bs-dismiss='modal') Kembali
            button#get-voucher-botton.btn.btn-primary.w-100.ms-1
              | Ambil Voucher

<!-- Modal Get Free Course - Belum Login -->
#getFreeCourseNotLoginModal.modal.fade(tabindex='-1' aria-labelledby='getFreeCourseNotLoginModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal
    .modal-content
      .modal-header.modal-header-custom.p-4
        h4.modal-title  Ambil Pelatihan Gratis?
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.px-4
        p.paragraph-md.mb-4 Kamu yakin akan mengambil pelatihan ini?
        .detail-course.row.border.rounded.p-3.m-0
          .col-12.col-md-4.p-0
            img.w-100.object-fit-contain.rounded-1(src=baseURL+"img/course-7.jpeg", alt="Pelatihan ABC")
          .col-12.col-md-8.p-0.ps-md-3.pt-3.pt-md-0
            h6 Menyusun dan Membuat Business Proposal yang Menarik (dengan Microsoft Word dan Power Point)
          
        .alert.alert-warning.mt-3.d-flex.align-items-top.mb-0
          i.fs-5.bi.bi-info-circle-fill.me-3
          div
            div.fs-7
              | Untuk mengambil pelatihan ini, kamu harus
              b &nbsp;masuk&nbsp;
              | terlebih dahulu ke Indonesia Skills Week.
          
      .modal-footer.p-0
          .d-flex.w-100.p-4
            button.btn.w-100.btn-borderless-primary.me-1(type='button' data-bs-dismiss='modal') Kembali
            button.btn.btn-primary.w-100.ms-1(data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss='modal')
              i.bi.bi-person-circle.me-2
              | Masuk
          .fs-7.w-100.p-3.border-top.text-center Belum punya akun Prakerja? Yuk 
            a.link-primary(href="https://dashboard.prakerja.go.id/daftar" target="_blank")
              b Buat Akun Sekarang
              i.bi.bi-arrow-up-right-square.ms-1

<!-- Modal Get Course - Sudah Login -->
#getFreeCourseLoginModal.modal.fade(tabindex='-1' aria-labelledby='getFreeCourseLoginModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal
    .modal-content
      .modal-header.modal-header-custom.p-4
        h4.modal-title  Ambil Pelatihan Gratis?
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.px-4
        p.paragraph-md.mb-4 Kamu yakin akan mengambil pelatihan ini?
        .row.border.rounded.p-3.m-0
          .col-12.col-md-4.p-0
            img.w-100.object-fit-contain.rounded-1(src=baseURL+"img/course-7.jpeg", alt="Menyusun dan Membuat Business Proposal yang Menarik (dengan Microsoft Word dan Power Point")
          .col-12.col-md-8.p-0.ps-md-3.pt-3.pt-md-0
            h6 Menyusun dan Membuat Business Proposal yang Menarik (dengan Microsoft Word dan Power Point)
          
        form.mt-3
          .mb-3
            label.form-label(for='exampleInputEmail2')
              b Alamat Email yang terdaftar di Prakerja
            input#exampleInputEmail2.form-control.is-valid(type='email' aria-describedby='userEmail' placeholder="nama@email.com" value="bambang@gmail.com" readonly)
        
        .alert.alert-info.mt-3.d-flex.align-items-top.mb-0
          i.fs-5.bi.bi-info-circle-fill.me-3
          div
            div.fs-7
              | Pelatihan
              b &nbsp;gratis&nbsp;
              | tidak membutuhkan voucher untuk mengambil pelatihan.
          
      .modal-footer.p-0
          .d-flex.w-100.p-4
            button.btn.btn-borderless-primary.w-100.me-1(type='button' data-bs-dismiss='modal') Kembali
            button.btn.btn-primary.w-100.ms-1(data-bs-toggle="modal" data-bs-target="#" data-bs-dismiss='modal')
              | Ambil Pelatihan

<!-- Modal Get Course - Sudah Login - GAGAL -->
#getCourseFailedModal.modal.fade(tabindex='-1' aria-labelledby='getCourseFailedModal' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal
    .modal-content
      .modal-header.modal-header-custom.p-4
        h4.modal-title  Ambil Voucher Pelatihan?
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.px-4
        //- p.paragraph-md.mb-4 Dengan mengkonfirmasi, kode Voucher akan dikirim ke email kamu, silakan cek secara berkala.
        .row.border.rounded.p-3.m-0
          .col-12.col-md-4.p-0
            img.w-100.object-fit-contain.rounded-1(src=baseURL+"img/course-7.jpeg", alt="Menyusun dan Membuat Business Proposal yang Menarik (dengan Microsoft Word dan Power Point")
          .col-12.col-md-8.p-0.ps-md-3.pt-3.pt-md-0
            h6 Menyusun dan Membuat Business Proposal yang Menarik (dengan Microsoft Word dan Power Point)
          
        form.mt-3
          .mb-3
            label.form-label(for='exampleInputEmail3')
              b Alamat Email yang terdaftar di Prakerja
            input#exampleInputEmail3.form-control.is-valid(type='email' aria-describedby='userEmail' placeholder="nama@email.com" value="bambang@gmail.com" readonly)

        .alert.alert-danger.mt-3.d-flex.align-items-top.mb-3
          i.fs-5.bi.bi-exclamation-triangle-fill.me-3
          div
            h6.text-danger Ambil Voucher Pelatihan Gagal
            div.fs-7
              | Kamu sudah mengambil pelatihan ini atau pelatihan gratis sebelumnya. Pelatihan Gratis hanya bisa diambil 1x.
              
          
      .modal-footer.p-0
          .d-flex.w-100.p-4
            button.btn.btn-borderless-primary.w-100.me-1(type='button' data-bs-dismiss='modal') Kembali
            button.btn.btn-primary.w-100.ms-1(data-bs-toggle="modal" data-bs-target="#" data-bs-dismiss='modal')
              | Ambil Voucher
          
.toast-container.position-fixed.top-0.start-0.p-3
  #success-toast.toast(role='alert' aria-live='assertive' aria-atomic='true')
    .d-flex.p-3
        div
            img(src=baseURL+"img/img-success-get-course.svg" alt='ISW Success get Course' style="width: 64px")
        div.px-3
            h6 Voucher Pelatihan Berhasil Diambil
            p.p-0.m-0 Kode voucher pelatihan akan dikirim ke email kamu, silakan cek secara berkala.
        div
            button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')

.toast-container.position-fixed.top-0.start-0.p-3
  #toast-sucess-copy.toast(role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true")
    .toast-header
      svg.bd-placeholder-img.rounded.mr-2(width='20' height='20' xmlns='http://www.w3.org/2000/svg' preserveaspectratio='xMidYMid slice' focusable='false' role='img')
        rect(width='100%' height='100%' fill='#007aff')
      strong.mr-auto Skillsweek
      small.text-muted Saat ini
      button.ml-2.mb-1.close.close-toast-copy(type='button' data-dismiss='toast' aria-label='Close')
        span(aria-hidden='true') &times;
    .toast-body
      | Link Pelatihan berhasil di copy

<!-- Modal Ads -->

//- #adsModal.modal.fade.show(aria-hidden='true' aria-labelledby='adsModal' tabindex='-1')
  .modal-dialog.modal-dialog-centered.pra-modal
    .modal-content
      .modal-header
        h6.modal-title Self Development in Career
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.px-lg-5
        section.owl-carousel.boost-ads-carousel
          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-01.webp" alt="Self Development in Career")
              img(src=baseURL+"img/List-Webinar-ISW-Jun-01.webp" alt="Self Development in Career")
          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-02.webp" alt="Self Development in Career" )
              img(src=baseURL+"img/List-Webinar-ISW-Jun-02.webp" alt="Self Development in Career")

          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-03.webp" alt="Self Development in Career")
          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-04.webp" alt="Self Development in Career" )

          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-05.webp" alt="Self Development in Career")
          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-06.webp" alt="Self Development in Career" )

          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-07.webp" alt="Self Development in Career")
          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-08.webp" alt="Self Development in Career" )

          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-09.webp" alt="Self Development in Career")
          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-10.webp" alt="Self Development in Career" )

          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-13.webp" alt="Self Development in Career")
          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-14.webp" alt="Self Development in Career" )

          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-15.webp" alt="Self Development in Career")
          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-16.webp" alt="Self Development in Career" )

          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-11.webp" alt="Self Development in Career")
          div
            a(href="https://bit.ly/WebinarISW2024" title="Webinar ISW Juni")
              img.owl-lazy(data-src=baseURL+"img/img-placeholder.webp" data-src-retina=baseURL+"img/List-Webinar-ISW-Jun-12.webp" alt="Self Development in Career" )

          
          







      .modal-footer.d-flex.justify-content-center
        //- button.btn.btn-outline-primary(data-bs-dismiss="modal")
        //-   | Tutup
        a.btn.btn-primary(href="https://bit.ly/WebinarISW2024" target="_blank") 
          | Daftar Seminar Sekarang
