section.section-course
  .container.py-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3
      h4 60+ Lembaga Pelatihan
      a.btn.text-primary(href='/pelatihan')

    .row 
      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Thunderbird School Of Global Management, Arizona State University

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

      .col-12.col-sm-6.col-md-4.col-xl-3
        a.card-company-list(href="#")
          img.me-1.card-logo(src=baseURL+"img/logo-rk.svg", alt="RuangKerja")
          span.lp-name Ruang Kerja

    .row 
      .col-12.text-center.pt-3
        button.btn.btn-lg.btn-ghost-primary Muat Lebih Banyak
    