//-- Header start
header.pdt-header
  .container.px-4.px-md-0
    .d-flex.justify-content-between.align-items-center
      a(href=baseURL+'')
        img(src=baseURL+'img/logo-indonesia-skills-week.webp' height='54' alt='Indonesia Skills Week')
      ul.d-flex.align-items-center.navbar-custom
        li.nav-item.md-hide
          a.nav-link(href=baseURL+'' class={"nav-link-active" : pageActive === ''}) Beranda
        li.nav-item.md-hide
          a.nav-link(href=baseURL+'pelatihan/index.html'  class={"nav-link-active" : pageActive === 'pelatihan'}) Pelatihan
        li.nav-item.md-hide
          a.nav-link(href=baseURL+'tanyajawab/index.html' class={"nav-link-active" : pageActive === 'tanyajawab'}) Tanya Jawab
        li.nav-item.md-hide
          a.btn.btn-primary(href='#')
            i.bi.bi-person-circle.me-2
            | Masuk
        li.nav-item.md-show
          .menu.burger-menu(data-menu='13')
            .icon
