
section.section-course
  .container.py-3.py-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3
      h4.custom-rfs-h4 Topik Pelatihan 
      //- a.btn.text-primary(href=baseURL+'pelatihan') hah

    .row 
      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.text-center
        a.category-card.d-flex.d-sm-block.align-items-center.mb-md-3.p-2.p-lg-3(href=baseURL+'pelatihan/index.html?topic=bahasa-asing&keyword=&price=&lp=')
          img(src=baseURL+"img/icon-bahasa-asing.svg", alt="Bahasa Asing")
          h6.ms-2.ms-sm-0.fs-7.mt-2 Bahasa Asing

      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.text-center
        a.category-card.d-flex.d-sm-block.align-items-center.mb-md-3.p-2.p-lg-3(href=baseURL+'pelatihan/index.html?topic=gaya-hidup&keyword=&price=&lp=')
          img(src=baseURL+"img/icon-gaya-hidup.svg", alt="Gaya Hidup")
          h6.ms-2.ms-sm-0.fs-7.mt-2 Gaya Hidup


      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.text-center
        a.category-card.d-flex.d-sm-block.align-items-center.mb-md-3.p-2.p-lg-3(href=baseURL+'pelatihan/index.html?topic=keuangan&keyword=&price=&lp=')
          img(src=baseURL+"img/icon-keuangan.svg", alt="Keuangan")
          h6.ms-2.ms-sm-0.fs-7.mt-2 Keuangan


      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.text-center
        a.category-card.d-flex.d-sm-block.align-items-center.mb-md-3.p-2.p-lg-3(href=baseURL+'pelatihan/index.html?topic=makanan-dan-minuman&keyword=&price=&lp=')
          img(src=baseURL+"img/icon-makanan-minuman.svg", alt="Makanan Dan Minuman")
          h6.ms-2.ms-sm-0.fs-7.mt-2 Makanan Dan Minuman


      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.text-center
        a.category-card.d-flex.d-sm-block.align-items-center.mb-md-3.p-2.p-lg-3(href=baseURL+'pelatihan/index.html?topic=manajemen&keyword=&price=&lp=')
          img(src=baseURL+"img/icon-manajemen.svg", alt="Manajemen")
          h6.ms-2.ms-sm-0.fs-7.mt-2 Manajemen

      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.text-center
        a.category-card.d-flex.d-sm-block.align-items-center.mb-md-3.p-2.p-lg-3(href=baseURL+'pelatihan/index.html?topic=penjualan-dan-pemasaran&keyword=&price=&lp=')
          img(src=baseURL+"img/icon-penjualan-pemasaran.svg", alt="Penjualan Dan Pemasaran")
          h6.ms-2.ms-sm-0.fs-7.mt-2 Penjualan Dan Pemasaran

      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.text-center
        a.category-card.d-flex.d-sm-block.align-items-center.mb-md-3.p-2.p-lg-3(href=baseURL+'pelatihan/index.html?topic=perkantoran&keyword=&price=&lp=')
          img(src=baseURL+"img/icon-perkantoran.svg", alt="Perkantoran")
          h6.ms-2.ms-sm-0.fs-7.mt-2 Perkantoran

      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.text-center
        a.category-card.d-flex.d-sm-block.align-items-center.mb-md-3.p-2.p-lg-3(href=baseURL+'pelatihan/index.html?topic=pertanian&keyword=&price=&lp=')
          img(src=baseURL+"img/icon-pertanian.svg", alt="Pertanian")
          h6.ms-2.ms-sm-0.fs-7.mt-2 Pertanian

      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.text-center
        a.category-card.d-flex.d-sm-block.align-items-center.mb-md-3.p-2.p-lg-3(href=baseURL+'pelatihan/index.html?topic=sosial-dan-perilaku&keyword=&price=&lp=')
          img(src=baseURL+"img/icon-sosial-perilaku.svg", alt="Sosial Dan Perilaku")
          h6.ms-2.ms-sm-0.fs-7.mt-2 Sosial Dan Perilaku

      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.text-center
        a.category-card.d-flex.d-sm-block.align-items-center.mb-md-3.p-2.p-lg-3(href=baseURL+'pelatihan/index.html?topic=teknik&keyword=&price=&lp=')
          img(src=baseURL+"img/icon-teknik.svg", alt="Teknik")
          h6.ms-2.ms-sm-0.fs-7.mt-2 Teknik

      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.text-center
        a.category-card.d-flex.d-sm-block.align-items-center.mb-md-3.p-2.p-lg-3(href=baseURL+'pelatihan/index.html?topic=teknologi-informasi&keyword=&price=&lp=')
          img(src=baseURL+"img/icon-teknologi-informasi.svg", alt="Teknologi Informasi")
          h6.ms-2.ms-sm-0.fs-7.mt-2 Teknologi Informasi

      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2.text-center
        a.category-card.d-flex.d-sm-block.align-items-center.mb-md-3.p-2.p-lg-3(href=baseURL+'pelatihan/index.html?topic=lainnya&keyword=&price=&lp=')
          img(src=baseURL+"img/icon-lainnya.svg", alt="Lainnya")
          h6.ms-2.ms-sm-0.fs-7.mt-2 Lainnya

    