//- section mitra coworking space 
section
  .container.py-lg-5.py-3.px-4.px-md-0
    h3.mb-4 Mitra Resmi Prakerja

    .row
        //- card 1
        .col-sm-6.col-md-4.col-lg-3.mb-4
            a.cws-card(href="/coworking/heterospace" title="Hetero Space")
                img(src=baseURL+'img/cover-hetero-space.webp' alt='Coworking Space - Hetero Space')
                span.d-flex.justify-content-between.flex-column.align-items-center.cws-content
                    span.cws-top-content
                        img.cws-logo(src=baseURL+'img/cws-w-hetero-space.webp' alt='Logo Hetero Space White')
                    span.cws-bottom-content
                        span.cws-promo.mb-3
                            span Beli 3 &nbsp;
                                span.fs-4 Gratis 1
                        h6.mb-1 Hetero Space
                        span.cws-location Semarang, Solo, Banyumas

        //- Card 2
        .col-sm-6.col-md-4.col-lg-3.mb-4
            a.cws-card(href="#" title="Estubizi")
                img(src=baseURL+'img/cover-estubizi.webp' alt='Coworking Space - Estubizi')
                span.d-flex.justify-content-between.flex-column.align-items-center.cws-content
                    span.cws-top-content
                        img.cws-logo(src=baseURL+'img/cws-w-estubizi.webp' alt='Logo Estubizi White')
                    span.cws-bottom-content
                        span.cws-promo.mb-3
                            span Diskon &nbsp;
                                span.fs-4 20%
                        h6.mb-1 Estubizi
                        span.cws-location Jakarta, Tangerang Selatan

        //- Card 3
        .col-sm-6.col-md-4.col-lg-3.mb-4
            a.cws-card(href="#" title="Estubizi")
                img(src=baseURL+'img/cover-co-n-co.webp' alt='Coworking Space - CO & CO')
                span.d-flex.justify-content-between.flex-column.align-items-center.cws-content
                    span.cws-top-content
                        img.cws-logo(src=baseURL+'img/cws-w-co-n-co.webp' alt='Logo Co & Co White')
                    span.cws-bottom-content
                        span.cws-promo.mb-3
                            span Diskon &nbsp;
                                span.fs-4 50%
                        h6.mb-1 CO & CO
                        span.cws-location Bandung

        //- Card 4
        .col-sm-6.col-md-4.col-lg-3.mb-4
            a.cws-card(href="#" title="Kode Creative Hub")
                img(src=baseURL+'img/cover-kode-kreatif.webp' alt='Coworking Space - Kode Creative Hub')
                span.d-flex.justify-content-between.flex-column.align-items-center.cws-content
                    span.cws-top-content
                        img.cws-logo(src=baseURL+'img/cws-w-kode.webp' alt='Logo Kode Creative Hub White')
                    span.cws-bottom-content
                        span.cws-promo.mb-3
                            span Potongan &nbsp;
                                span.fs-4 Rp25rb
                        h6.mb-1 Kode Creative
                        span.cws-location Depok

        //- Card 5
        .col-sm-6.col-md-4.col-lg-3.mb-4
            a.cws-card(href="#" title="Clapham")
                img(src=baseURL+'img/cover-clapham.webp' alt='Coworking Space - Clapham')
                span.d-flex.justify-content-between.flex-column.align-items-center.cws-content
                    span.cws-top-content
                        img.cws-logo(src=baseURL+'img/cws-w-clapham.webp' alt='Logo Clapham White')
                    span.cws-bottom-content
                        span.cws-promo.mb-3
                            span Diskon &nbsp;
                                span.fs-4 50%
                        h6.mb-1 Clapham
                        span.cws-location Medan

        //- Card 6
        .col-sm-6.col-md-4.col-lg-3.mb-4
            a.cws-card(href="#" title="Confie Space")
                img(src=baseURL+'img/cover-confie.webp' alt='Coworking Space - Confie Space')
                span.d-flex.justify-content-between.flex-column.align-items-center.cws-content
                    span.cws-top-content
                        img.cws-logo(src=baseURL+'img/cws-w-confie.webp' alt='Logo Confie Space White')
                    span.cws-bottom-content
                        span.cws-promo.mb-3
                            span Diskon &nbsp;
                                span.fs-4 50%
                        h6.mb-1 Confie Space
                        span.cws-location Makassar

        //- Card 7
        .col-sm-6.col-md-4.col-lg-3.mb-4
            a.cws-card(href="#" title="VOffice")
                img(src=baseURL+'img/cover-voffice.webp' alt='Coworking Space - VOffice')
                span.d-flex.justify-content-between.flex-column.align-items-center.cws-content
                    span.cws-top-content
                        img.cws-logo(src=baseURL+'img/cws-w-voffice.webp' alt='Logo VOffice White')
                    span.cws-bottom-content
                        span.cws-promo.mb-3
                            span Diskon &nbsp;
                                span.fs-4 20%
                        h6.mb-1 VOffice
                        span.cws-location Bali

        //- Card 7
        .col-sm-6.col-md-4.col-lg-3.mb-4
            .cws-card.cws-mitra.p-4
                h5.text-white.mb-3 Berminat jadi Mitra Prakerja?
                p.text-white 
                    | Untuk Anda yang memiliki coworking space dan berminat untuk menjadi mitra Prakerja, ajukan kerja sama melalui link berikut ini
                a.btn.btn-ghost-primary(href="https://bit.ly/pengajuan_kerjasama_coworking" title="Clapham" target="_blank") Gabung Sebagai Mitra